.xeberler_tarix{
    background-color: #def4cd;
    font-size: 11px;

   
}
.xeberler{
    margin-left: 30px;
}
.card-header{
    background-color: white;

}
.nav-link.active{
    color: black;

    background-color: white;
    
}
.nav-link{
    color: gray;
}
.nav-link:hover{
    color: black;
}

.nav-link.active::after{
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    height: 0.3rem;
    background: #000;
    border-radius: 6px 6px 0 0;
    display: inline-block;
    transition: inherit;
}

.nav-item {
    position: relative;
}
/* .nav-link:after, 
.nav-link:before {
    box-sizing: inherit;
    outline: 0;
} */
.page-link.active{
    background-color: #80b554;

}
.page-link{
    background-color:#f1f4ee ;
    color: black;
}
.page-link:hover{
    background-color:#80b554;
    color: white;
}
.text-decoration-none{
    color: #000;
}
.text-decoration-none:hover{
    color: #80b554;
}
.xeber_basliq{
    
    width: 75%;
}
